.imageupload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imageupload__progress{
    width: 100%;
}
.image__btn{
    margin-top: 10px !important;
}
.image_input{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}